@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background: url(../img/bg-img.jpg) center/cover no-repeat;
}
article {
  position: relative;
}

h1, h2, p {
  color: white;
  font-weight: 400;
  position: absolute;
}

h1 {
  font-size: 5rem;
  right: 350px;
  top: 240px;
}

h2 {
  font-size: 4rem;
  right: 350px;
  top: 350px;
}

p {
  margin-top: 96vh;
}
